* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 64px;
}

nav p {
    display: inline-block;
    position: absolute;
    top: 25px;
}

nav img {
    margin: 20px 0 0 24px;
}
nav ul {
    position: absolute;
    top: 17px;
    right: 24px;
}

nav li {
    display: inline-block;
    padding: 8px;
}

/*display: none*/
.logo-section {
    display: none;
    width: 100%;
    position: absolute;
    top: 0px;
    text-align: center;
}
.logo-section img {
    padding: 3%;
}

.main-content-1 {
    display: flex;
    align-items: center;
    background: #D8D8D8;
    box-sizing: border-box;
    padding: 32px 24px;
}

.main-content-1 > div {
    display: flex;
}

.main-div-1 {
    width: 60%;
    align-items: center;
    position: relative;
    justify-content: space-around;
}

.main-div-1 img {
    max-height: 330px; 
    max-width: 450px;
}

.main-div-2 {
    width: 40%;
    height: fit-content;
    display: inline-block;
}

.top-right-conent {
    margin-left: 24px;
    position: relative;
    height: fit-content;
}

.top-right-conent h2, h4 {
    color: #4A4A4A;
    font-family: arial;
    margin: 20px 0;
}

.start-button {
    width: 80%;
    background-color: #4A4A4A;
    border: none;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

/* SECOND MAIN CONTENT - INFORMATION AREA */

.main-content-2 {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 32px 24px;
}

.main-content-2 > div {
    display: flex;
}

.main-div-3 {
    width: 60%;
    position: relative;
    top: -60px;
    justify-content: space-around;
}

.main-div-3 img {
    max-height: 330px; 
    max-width: 450px;
}

.main-div-4 {
    width: 40%;
    height: fit-content;
    display: inline-block;
}

.info-cont-2 {
    position: relative;
    top: -65px;
    left: 10%;
}

.desktop-view {
    width: 100px;
}

.mobile-view {
    display: none;
}

.image-list {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}
.image-list > li {
    display: block;
    padding: 16px 0 16px 16px;
    cursor: pointer;
}

.image-list li:hover {
    background: #D8D8D8;
}

.image-list li figcaption {
    float: right;
    margin: 5px 20px;
}

.image-list li figcaption h4 {
    margin: 10px 0;
    color: #4A4A4A; 
}
/*First section media queries*/

@media screen and (max-width: 1000px) {
    .logo-section {
        display: flex;
        justify-content: space-around;
        background: white;
    }
    
    .logo-section img {
        cursor: pointer;
    }
    .nav-section {
        display: none;
    }
    .main-content-1 {
        flex-wrap: wrap;
        padding: 0;
    }
    .main-div-1 {
        width: 100%;
    }
    .main-div-1 img {
        width: 100%;
        max-height: 100%; 
        max-width: 100%;
    }
    .main-div-2 {
        width: 100%;
        position: relative;
        background: #D8D8D8;
    }
    .top-right-conent {
        width: 100%;
    }
    .start-button {
        width: 100%;
        max-width: 600px;
        background-color: #9B9B9B;
        display: block;
        margin: auto;
    }
}


























